# Dependencias
/node_modules

# Angular build output
/dist
/.angular/cache

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env

# Logs
npm-debug.log