// login.component.scss: Estilos del formulario de inicio de sesion
.login-container {

    width: 350px;
    margin: 50px auto;

    display: flex;
    flex-direction: column;

}


form {

    display: flex;
    flex-direction: column;
    gap: 15px;

}


input {

    padding: 10px;

}


button {

    padding: 10px;
    cursor: pointer;

}